doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='../dist/drawing.js')
    script(type='text/javascript', src='node_modules/jquery/dist/jquery.js')
    script(type='text/javascript', src='node_modules/leaflet/dist/leaflet.js')
    script(type='text/javascript', src='demo.js')
    link(rel="stylesheet" media="all" href="../node_modules/leaflet/dist/leaflet.css")
    link(rel="stylesheet" media="all" href="../node_modules/reset-css/reset.css")
    link(rel="stylesheet" media="all" href="./demo.css")
    link(rel="stylesheet" media="all" href="./viewer.css")
  body
    .map
    //.viewer
      .viewer-background
      .viewer-content
        .viewer-container(style="background: rgba(255, 0, 0, 0.4); display: none;")
          p -1
          //img(src="http://lorempixel.com/800/800?t=0")
        .viewer-container(style="background: rgba(0, 255, 0, 0.4);")
          p 0
          //.svg-wrapper
          //.svg-container
            svg(viewport="0 0 10000 10000")
          //img(src="./plan.svg")
          //img(src="http://lorempixel.com/400/200?t=0")
        .viewer-container(style="background: rgba(0, 0, 255, 0.4); display: none;")
          p 1
          //img(src="http://lorempixel.com/400/200?t=0")
    //.zoomable
      .zoomable-element
        .svg-container
          svg(viewport="0 0 10000 10000")
    ul.svg-tools
      li.item.tool.selected(data-tool="hand") Hand
      li.item.tool(data-tool="path") Path
      li.item.tool(data-tool="arrow") Arrow
      li.item.tool(data-tool="double-arrow") Double arrow
      li.item.tool(data-tool="line") Line
      li.item.tool(data-tool="circle") Circle
      li.item.tool(data-tool="rect") Rectangle
      li.item.tool(data-tool="note") Note
      li.item.action(data-action="text") Text
      li.item.action(data-action="textWithBackground") Text with background
      li.separator
      li.item.color(style="background-color: #e83100;" data-color="#e83100")
      li.item.color(style="background-color: #00bae8;" data-color="#00bae8")
      li.item.color(style="background-color: #f0ec00;" data-color="#f0ec00")
      li.item.color(style="background-color: #00e862;" data-color="#00e862")
      li.separator
      li.item.action(data-action="delete") Delete
